.title {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.card-holder {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
  gap: 2rem;
  width: 500px;

  .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.301);
    gap: 1rem;
    transition: all 0.3s;
    transition: all 0.5s;

    &:hover {
      border: 2px solid #3498db;
    }

    .card-row {
      display: flex;
      flex-direction: row;
      height: 50px;
      gap: 2rem;
      align-items: center;
      justify-content: center;

      .person-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        flex: 3;

        .person-icon {
          width: 50px;
          height: 50px;
          background-color: #3498db;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
        }

        .name-holder {
          height: 100%;
          text-overflow: ellipsis;
          flex: 1;
        }
      }
      .total-price {
        flex: 1;
        font-size: 1.25rem;
      }

      .remove-banda {
        cursor: pointer;
        flex: 0.5;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    .kharchas-holder {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;

      .kharchas-row {
        .row {
          display: flex;
          height: 40px;
          width: 100%;
          gap: 1rem;

          .kharchas-input-row {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            flex: 2;
          }
          .kharchas-button-row {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            flex: 1;

            .remove-btn {
              background-color: white;
              border: 1px solid red;
              color: red;
              font-weight: bolder;
              font-size: 1rem;
              height: 25px;
              width: 25px;
              border-radius: 50%;
              transition: all 0.1s;

              &:hover {
                color: white;
                background-color: red;
              }
            }
            .kon-kon {
              text-align: center;
              height: 30px;
              width: 30px;
              font-size: 1.5rem;
              cursor: pointer;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

          .what,
          .how-much {
            flex: 1;
            height: 100%;
          }
        }
        .dropdown-menu {
          background-color: white;
          padding: 1rem;
          display: flex;
          font-weight: bold;
          flex-direction: column;
          gap: 1rem;
          margin-top: 0.5rem;
          border: 3px solid #3498db;
          margin-left: 16rem;

          & > div {
            font-size: 12px;
          }

          .dropdown-items {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;
            justify-content: center;

            .dropdown-item {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              font-weight: normal;
              cursor: pointer;
              color: red;

              .included {
                color: green;
              }

              .included-icon,
              .included-name {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
            }
          }
        }
      }

      .add-kharchas {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .add-people {
    width: 100%;
    height: 40px;
  }
  .calculate-split {
    width: 100%;
    height: 60px;
    background-color: #3498db;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.25rem;
  }
}

button {
  background-color: white;
  outline: 0;
  font-weight: bold;
  color: #3498db;
  border: 2px solid #3498db;
  cursor: pointer;
  text-align: center;
  transition: all 0.15s;

  &:hover {
    background-color: #3498db;
    color: white;
  }
}

input {
  padding: 0.5rem 1rem;
  width: 100px;
  outline: 0px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid #3498db;
  }
}

.calculated-container {
  border: 2px solid #3498db;
  color: black;
  width: 400px;
  height: fit-content;
  background-color: #d0ecff;

  .title {
    text-align: center;
    font-size: 1.5rem;
    background-color: #3498db;
    color: white;
    margin: 0px;
    padding: 0px;
    padding: 0.5rem;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .cal-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      border: 1px solid #3498db;
      padding: 0rem 1rem;
      align-items: center;

      & > div {
        flex: 1;
        text-align: center;
        text-overflow: ellipsis;
      }
      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./arrow-right.png");
        background-size: 100% 150%;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold;
      }
    }
  }
}
